/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
  width: 100%;
}

* {
  box-sizing: border-box;
  text-align: justify;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-size: 2.4em;
}

.header {
  width: 100vw;
  background-color: rgb(0, 128, 0);
  top: 0;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
}
.header__a {
  width: 20vw;
  height: 5vh;
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: rgb(0, 128, 0);
}

.about-gory1 {
  border-bottom: 1cm solid rgb(0, 128, 0);
}
.about-gory1__content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 50px;
}
.about-gory1__content--image {
  width: 500px;
}
.about-gory1__content--image img {
  width: 100%;
}
.about-gory1__content--text {
  width: 500px;
  padding: 2em;
}
.about-gory1__content--text h1 {
  margin-bottom: 1em;
}

.about-gory2 {
  border-top: 0.3em solid rgb(0, 128, 0);
  border-bottom: 1cm solid rgb(0, 128, 0);
}
.about-gory2__content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;
  gap: 50px;
}
.about-gory2__content--image1-3 {
  width: 400px;
}
.about-gory2__content--image1-3 img {
  width: 100%;
}
.about-gory2__content--image1-3--image2 {
  width: 400px;
}
.about-gory2__content--image1-3--image2 img {
  width: 100%;
}
.about-gory2__content--text {
  padding: 2em;
  width: 500px;
}
.about-gory2__content--text h2 {
  margin-bottom: 1em;
}

.about-gory3 {
  border-top: 0.3em solid rgb(0, 128, 0);
  border-bottom: 1cm solid rgb(0, 128, 0);
}
.about-gory3__content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 50px;
}
.about-gory3__content--image {
  width: 250px;
  margin-bottom: 27em;
}
.about-gory3__content--image img {
  width: 100%;
}
.about-gory3__content--text1 {
  margin-right: 2em;
  margin-left: 2em;
  padding: 2em;
  width: 400px;
}
.about-gory3__content--text1 h1 {
  margin-top: 2em;
  margin-bottom: 4em;
  width: 400px;
}
.about-gory3__content--text1 h2 {
  margin-bottom: 1em;
}
.about-gory3__content--text2 {
  margin-top: 19em;
  margin-right: 2em;
  margin-left: 2em;
  padding: 2em;
  width: 400px;
}
.about-gory3__content--text2 h2 {
  margin-bottom: 1em;
}

.img-gory2 {
  border-top: 0.3em solid rgb(0, 128, 0);
  border-bottom: 1cm solid rgb(0, 128, 0);
}
.img-gory2__content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: 100%;
  flex-wrap: 100%;
  flex: 1;
  gap: 50px;
}
.img-gory2__content--image {
  width: 125vw;
}
.img-gory2__content--image img {
  width: 100%;
}/*# sourceMappingURL=style_index.css.map */